.product-list-container {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    overflow-y: auto;
  }
  
  .product-category {
    color: #fff;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-item {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #2b2b2b;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: transform 0.2s ease;
  }
  
  .product-item:hover {
    transform: translateY(-5px);
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .product-name {
    color: #ffd700;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .product-description,
  .product-price {
    color: #fff;
    font-size: 1rem;
    margin-bottom: auto;
  }
  
  .add-to-cart-button {
    background-color: #ffd700;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-button:hover {
    background-color: #7c7125;
  }  